In [5]:
greeting = ["Hello everyone"]

if "Hello" in greeting:
  print("인사말이 포함되어 있습니다.")
else :
  print('힝 속았지?')

힝 속았지?

In [6]:
num = 15
if num > 10:
    if num % 2 == 0:
        print("10보다 큰 짝수입니다.")
    else:
        print("10보다 큰 홀수입니다.")

10보다 큰 홀수입니다.

In [8]:
is_raining = False
if not is_raining:
    print("우산을 가져갈 필요가 없습니다.")

우산을 가져갈 필요가 없습니다.

In [9]:
for i in range(5):  # range(5)는 0부터 4까지의 숫자를 생성합니다.
  print(i)

0
1
2
3
4

In [ ]:
count = 0
while count < 5:
    print(count)
    count += 1  # count를 1씩 증가

In [10]:
count = 0
while count < 5:
    print(count)
    count += 1  # count를 1씩 증가

0
1
2
3
4

In [14]:
'''
- products 리스트에 ["텔레비전", "컴퓨터", "프린터", "모니터"]
- 해당 리스트에 속한 요소들을 모두 출력할 것
- for 반복문을 통해 해당 과정을 시행할 것
'''

products = ["텔레비전", "컴퓨터", "프린터", "모니터"]
for product in products :
  print(product)

텔레비전
컴퓨터
프린터
모니터

In [12]:
age_groups = [15, 25, 35, 45, 55]
for age in age_groups:
    if age < 20:
        discount = 10
    elif age < 40:
        discount = 5
    else:
        discount = 2
    print(f"나이: {age}, 할인율: {discount}%")

나이: 15, 할인율: 10%
나이: 25, 할인율: 5%
나이: 35, 할인율: 5%
나이: 45, 할인율: 2%
나이: 55, 할인율: 2%

In [17]:
password = ""
attempt_count = 0
while password != "secret" and attempt_count < 3:
    password = input("비밀번호를 입력하세요: ")
    attempt_count += 1

print(password)

비밀번호를 입력하세요: 앙 기모띠
비밀번호를 입력하세요: 앙 기모띠
비밀번호를 입력하세요: 앙앙
앙앙

In [18]:
def add(a, b):
  return a + b

result = add(3, 5)
print(result)

8

In [21]:
def greet(name):
  return f"안녕하세요, {name}님!"

greeting_message = greet('철수')
print(greeting_message)

안녕하세요, 철수님!

In [ ]:
def sum_list(numbers):
    total = 0
    for number in numbers:
        total += number
    return total

In [ ]:
def is_adult(age):
    if age >= 18:
        return True
    else:
        return False

adult_check = is_adult(20)
print(adult_check)  # True

def is_adult(age):
  if age >= 18:
    return True

In [25]:
fruits = ["apple", "cherry"]
index = fruits.index('banana') if 'banana' in fruits else -1
print(index)

-1