In [1]:
print('hello world')

hello world

In [ ]:
print("나이", 30, "살")

나이 30 살

In [ ]:
print("Hello", end='')

Hello

In [ ]:
name = "Alice"

In [ ]:
age = 30

# f-string 사용
print(f="이름: {name}, 나이: {age}")

TypeError: ignored

In [ ]:
print(f"이름: {"김진환"}, 나이: {30}")

SyntaxError: ignored

In [ ]:
name = "Alice"
age = 30

print(f"이름: {name}, 나이: {age}")

이름: Alice, 나이: 30

In [ ]:
number = 12.34567

# f-string을 사용하여 소수점 둘째 자리까지 표시
print(f"소수점 둘째 자리:")

소수점 둘째 자리:

In [ ]:
name = "Alice"
age = 30
temperature = 25.5

print("이름:", name)
print("나이:", age)
print("온도:", temperature)

print(f"이름: name")

이름: Alice
나이: 30
온도: 25.5
이름: name

In [ ]:
hobby = "독서"

In [ ]:
count = 10

In [ ]:
count = 20

In [ ]:
print(count)

20

1. 변수로 지정된 값은 언제든 변할 수 있다.
2. 출력을 주의해야 한다. 변수명을 똑같이 사용하지 않도록 주의

In [ ]:
print(type{name})
print(type{age})
print(type(temperature))