In [ ]:
if ' ':
    print('hello')
print('end')

# 공백이 없는 문자열
if '':
    print('hello')
print('end')

In [ ]:
if not '':
    print('hello')
print('end')

if None: # None은 False로 처리됩니다.
    print('hello')
print('end')

if not None:
    print('hello')
print('end')

hello
end
end
hello
end

In [ ]:
class Car:
    max_speed = 300
    max_people = 5
    car_gear = ['P', 'D', 'R', 'N']

    def __init__(self, name): # 클래스로 인스턴스를 만들 때 호출!
        self.name = name

    def start(self):
        print('차가 출발합니다!')

    def stop(self):
        print('차가 멈췄습니다!')

modelx = Car('Tesla Model X') # x = int(3) 여기서 넣었던 3이 __init__ 메직메서드에서 처리!
modelx.name

'Tesla Model X'

In [ ]:
class Car:
    def __init__(self, name, CEO): # 클래스에서 __init__은 붕어빵 틀 중에서 가장 기본 틀!
        self.name = name           # self는 인수로 전달받지도 전달하지도 않음 -> Car 클래스 그 자체
        self.CEO = CEO             # 위에 꼭 self를 붙여야 self를 사용해서 self.name처럼 사용할 수 있음

modelx = Car('Tesla Model X', '일론 머스크') # __init__과 self로 구현된 값은 클래스 할당시 입력자료를 넣을 수 있다.
print(modelx.name)                        # 입력을 받을때는 파라미터를 설정해야한다.(name, CEO처럼)
print(modelx.CEO)                         # 그러면 modelx처럼 name과 CEO의 데이터를 불러올수 있다.

Tesla Model X
일론 머스크

In [ ]:
my_dict = {x: 'Even' if x % 2 == 0 else 'Odd' for x in range(10)}
print(my_dict)

{0: 'Even', 1: 'Odd', 2: 'Even', 3: 'Odd', 4: 'Even', 5: 'Odd', 6: 'Even', 7: 'Odd', 8: 'Even', 9: 'Odd'}

In [ ]:
text = '1'
match text:
  case '1' | '2':
    print('1, 2')
  case _:
    print('No Match')

1, 2

In [ ]:
def test(status):
    match status:
        case (1 | 2 | 3) as code:
            return f'value : {code}'
        case _:
            return 'hello'
print(test(4))  # 출력: value : 2

hello

In [ ]:
s = '123'
result = 0
for i in s:
    result += int(i)

type(i)

str

In [ ]:
for i, j, k in ['abc', 'def', 'ghi']:
    print(i, j, k)

a b c
d e f
g h i

In [ ]:
영화누적관객수 = ['레미제라블', '뷰티인사이트', '매트릭스', '인셉션', '어거스트 러쉬']

for i in enumerate(영화누적관객수):
    print(i)

for i, j in enumerate(영화누적관객수, 1):
    print(f'누적관객수 {i}위! {j}!')

(0, '레미제라블')
(1, '뷰티인사이트')
(2, '매트릭스')
(3, '인셉션')
(4, '어거스트 러쉬')
누적관객수 1위! 레미제라블!
누적관객수 2위! 뷰티인사이트!
누적관객수 3위! 매트릭스!
누적관객수 4위! 인셉션!
누적관객수 5위! 어거스트 러쉬!
(0, '레미제라블')
(1, '뷰티인사이트')
(2, '매트릭스')
(3, '인셉션')
(4, '어거스트 러쉬')
누적관객수 1위! 레미제라블!
누적관객수 2위! 뷰티인사이트!
누적관객수 3위! 매트릭스!
누적관객수 4위! 인셉션!
누적관객수 5위! 어거스트 러쉬!

In [ ]:
list(filter(lambda x : x > 50, range(100)))

list(filter(lambda))

[51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [ ]:
list(zip('ab', '12')) # 출력 : [(a, 1), (b, 2)]

[('a', '1'), ('b', '2')]

In [ ]:
list(zip('ab', '12', [10, 20]))

[('a', '1', 10), ('b', '2', 20)]

In [ ]:
x = [1, 2, 3]
y = [1, 4, 9]

list(zip(x, y))

[(1, 1), (2, 4), (3, 9)]

In [ ]:
print(format(123.4567, '.2f')) # 출력: 123.46
print(format('Hello', '^9')) # 출력: '  Hello  '

123.46
  Hello

In [ ]:
import numpy as np

np.sum([[1, 2], [3, 101], [1, 20], [3, 100]]) # 출력 : 328

231

In [ ]:
values = ['A', 'B', 'C', 'D']
print(list(enumerate(values)))
print(list(enumerate(values, 1)))
print(list(enumerate(values, 100)))

print(list(enumerate(values)))
print(list(enumerate(values, 1)))

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D')]
[(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D')]
[(100, 'A'), (101, 'B'), (102, 'C'), (103, 'D')]
[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D')]
[(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D')]

In [ ]:
sorted(['21', '21', '12', '22', '53', '15'], key=lambda x:x[-1])

['21', '21', '12', '22', '53', '15']

In [ ]:
s = 'hello'
for i in s: # 순회가 정상적으로 됩니다.
    s += '!'
    print(i)
    print(s)

In [ ]:
d = {'one': '하나'}
for i in d: # RuntimeError: dictionary changed size during iteration
    d.update({i+d[i]:None})
    print(d)

In [ ]:
datetime.datetime.now()