In [ ]:
# step1 list안에 for문을 가져옵니다.

# step2 append 항목을 앞으로 가져옵니다.
a = [i for i in range(1, 10)] # 출력: [1, 2, 3, 4, 5, 6, 7, 8, 9]
b = [i*2 for i in range(1, 10)] # 출력: [2, 4, 6, 8, 10, 12, 14, 16, 18]

print(b)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
# 전통적인 방법
d = {}
for i in range(5):
    d[i] = i**2

# 딕셔너리 컴프리헨션 사용
dd = {i: i**2 for i in range(5)}
print(dd)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
hojun = print

In [ ]:
id(print)

135375898072368

In [ ]:
id(hojun)

135375898072368

In [ ]:
def hello():
    '''
    DocString
    주석은 여기 답니다.
    '''
    pass

print(type(hello)) # 함수도 class입니다!?

<class 'function'>

In [ ]:
x = 10
y = True if x % 2 == 0 else False

y

True

In [ ]:
def 제곱(x):
  return x ** 2

list(map(제곱, [1, 2, 3, 4]))

[1, 4, 9, 16]

In [ ]:
list(map(lambda x: x**2, [1, 2, 3, 4]))

[1, 4, 9, 16]

In [ ]:
list(map(lambda x: True if x % 2 == 0 else False, [1, 2, 3, 4]))

[False, True, False, True]

In [ ]:
# 알고리즘 문제에서
# 얼마나 효율적인지만 보고, 이해 X 괜춘
# 마스킹의 역할 및 순기능 파악

In [ ]:
# 101이 소수니?

for i in range(2, 101):
  if 101 % i == 0:
    print('소수아님!')
    break

else :
  print('소수임')

소수임

In [ ]:
list(filter(lambda x: x % 3 == 0, range(100)))

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [ ]:
list(filter(lambda x: x > 50 and x < 80, range(100)))

[51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79]

In [ ]:
list(filter(lambda x: True if x % 3 == 0 or x % 5 == 0 else False, range(1, 100)))

[3,
 5,
 6,
 9,
 10,
 12,
 15,
 18,
 20,
 21,
 24,
 25,
 27,
 30,
 33,
 35,
 36,
 39,
 40,
 42,
 45,
 48,
 50,
 51,
 54,
 55,
 57,
 60,
 63,
 65,
 66,
 69,
 70,
 72,
 75,
 78,
 80,
 81,
 84,
 85,
 87,
 90,
 93,
 95,
 96,
 99]

In [ ]:
# list(filter(lambda x: x % 2 == 0, range(100)))
list(filter(lambda x: x % 2 != 0, range(100)))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

## Top3 - 3. sorted에서 사용!

In [ ]:
lst = [10, 20, 5, 4, 22, 32, 5, 9, 11]
lst.sort() # sort를 자주 사용하진 않습니다. 원본을 변경시키기 때문입니다.

lst

[4, 5, 5, 9, 10, 11, 20, 22, 32]

In [ ]:
lst = [10, 20, 5, 4, 22, 32, 5, 9, 11]
sorted(lst)

[4, 5, 5, 9, 10, 11, 20, 22, 32]

In [ ]:
test = lambda i:i % 2 == 0
[test(i) for i in range(10)]

[True, False, True, False, True, False, True, False, True, False]

In [ ]:
반별점수 = [
    ['홍길동', 30, 55, 22],
    ['홍춘향', 55, 60, 73],
    ['이철수', 32, 65, 68],
    ['이호준', 92, 11, 95],
]

In [ ]:
def 함수(x):
  return x[3]

sorted(반별점수, key=함수)

[['홍길동', 30, 55, 22],
 ['이철수', 32, 65, 68],
 ['홍춘향', 55, 60, 73],
 ['이호준', 92, 11, 95]]

[['홍길동', 30, 55, 22],
 ['이철수', 32, 65, 68],
 ['홍춘향', 55, 60, 73],
 ['이호준', 92, 11, 95]]

In [ ]:
# 문제 : 영어 점수대로 출력해주세요
# 정답 :
sorted(반별점수, key=lambda x: x[2])

In [ ]:
sorted(반별점수, key=lambda x: x[1] + x[2] + x[3]))

In [ ]:
# 문제가 살짝 어려워집니다.
# 동점자인 경우 수학점수를 우선순위로 두겠습니다!!!?
반별점수 = [
    ['홍길동', 50, 50, 50],
    ['이철수', 45, 50, 55],
    ['홍춘향', 60, 35, 75],
    ['이호준', 92, 11, 95]
]

sorted(반별점수, key=lambda x: x[1] + x[2] + x[3], reverse=True) # 철수가 수학 점수가 높은데 뒤에 있네요?
# 제 의도는 수학 점수가 높으니 앞에 두겠다는 얘기입니다.

# 1
# sorted(반별점수, key=lambda x: x[1] + x[2] + x[3], reverse=True)
# 반별점수 = [
#     ['홍길동', 50, 50, 50] => 50,
#     ['이철수', 45, 50, 55] => 50,
#     ['홍춘향', 60, 35, 75] => ??,
#     ['이호준', 92, 11, 95] => ??
# ]
# 국, 영, 수 순서이다.

# 2
# sorted(반별점수, key=lambda x: (x[1] + x[2] + x[3], x[3]), reverse=True)
# 반별점수 = [
#     ['홍길동', 50, 50, 50] => (50, 50),
#     ['이철수', 45, 50, 55] => (50, 55),
#     ['홍춘향', 60, 35, 75] => ??,
#     ['이호준', 92, 11, 95] => ??
# ]

sorted(반별점수, key=lambda x: (x[1] + x[2] + x[3], x[3]), reverse=True) # 철수랑 길동이 바뀌었습니다!

[['이호준', 92, 11, 95],
 ['홍춘향', 60, 35, 75],
 ['이철수', 45, 50, 55],
 ['홍길동', 50, 50, 50]]

In [ ]:
우편번호 = [
    {
        '주소': '경기도 용인시',
        '우편번호': 321
    },
    {
        '주소': '경기도 수원시',
        '우편번호': 355
    },
    {
        '주소': '제주특별자치도 제주시',
        '우편번호': 333
    }
]

# sorted(우편번호) # error!?
sorted(우편번호, key=lambda x: x['우편번호'])

[{'주소': '경기도 용인시', '우편번호': 321},
 {'주소': '제주특별자치도 제주시', '우편번호': 333},
 {'주소': '경기도 수원시', '우편번호': 355}]

In [ ]:
# 입력값 : s = [1, 3, 4, 8, 13, 17, 20]
# 출력값 : (3, 4)

s = [1, 3, 4, 8, 13, 17, 20]
s[1:]

[3, 4, 8, 13, 17, 20]

In [ ]:
x = list(zip(s, s[1:]))

In [ ]:
sorted(x, key = lambda x: x[0] - x[1], reverse = True)

In [ ]:
x = [(1, 3), (3, 4), (4, 8), (8, 13), (13, 17)]

sorted(x)