In [4]:
# 판다스 import
import pandas as pd

# 데이터프레임 생성
data = {'이름': ['홍길동', '임꺽정', '이순신'],
        '나이': [30, 35, 40],
        '도시': ['서울', '부산', '광주']}
df = pd.DataFrame(data)
print(df)

    이름  나이  도시
0  홍길동  30  서울
1  임꺽정  35  부산
2  이순신  40  광주

In [5]:
# 시리즈 생성
names = pd.Series(['홍길동', '임꺽정', '이순신'])
print(names)
type(names)

0    홍길동
1    임꺽정
2    이순신
dtype: object

pandas.core.series.Series

In [6]:
import pandas as pd

# 엑셀 파일을 DataFrame으로 불러오기
df = pd.read_excel("example.xlsx")
df = pd.read_csv("example.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'example.xlsx'

In [ ]:
test = pd.read_csv("/content/sample_data/california_housing_test.csv")

In [ ]:
names.head()

In [ ]:
names.info()

In [ ]:
# 요구정의서 / 컬럼에 대한 히스토리!
test = pd.read_csv("/content/california_housing_train.csv")
test.head()

In [ ]:
test.tail()

In [ ]:
# Pandas DataFrame 예시
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Paris', 'Berlin']
})

# 각 속성 호출
print("Shape:", test.shape)
print("Data Types:\n", test.dtypes)
print("Index:", test.index)
print("Columns:", test.columns)

In [ ]:
import pandas as pd

# 예시 데이터프레임 생성
data = {
    'Name': ['Alice', 'Bob'],  # 문자열 타입
    'Age': ['25', '30'],       # 숫자 데이터를 문자열로 표현
    'Member': ['True', 'False'],  # 불린 데이터를 문자열로 표현
    'Join Date': ['2021-01-01', '2021-07-01']  # 날짜 데이터를 문자열로 표현
}

df = pd.DataFrame(data)

# 데이터 타입 변환
df['Age'] = df['Age'].astype(int)  # 'Age' 열을 정수형으로 변환
df['Member'] = df['Member'].astype(bool)  # 'Member' 열을 불린형으로 변환
df['Join Date'] = pd.to_datetime(df['Join Date'])  # 'Join Date' 열을 datetime으로 변환

# 결과 출력
print(df)
print(df.dtypes)

In [ ]:
df_joindate_age = df['Join Date']

In [ ]:
import pandas as pd
import numpy as np

# 예시 데이터프레임 생성
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Paris', 'Berlin']
}
df = pd.DataFrame(data)

# 단일 열 선택 -> 결과는 Series
age_series = df['Age']
print(type(age_series))

# 다중 열 선택 -> 결과는 DataFrame
subset_df = df[['Name', 'City']]
print(type(subset_df))

# loc 사용 예시
print(df.loc[:, 'Age'])

In [ ]:
# iloc 사용 예시
print(df.iloc[:, 1])

In [ ]:
# 결측치 추가
# [행 / 열]
df.loc[1, 'Age'] = np.nan

In [ ]:
print(df)

In [ ]:
# 결측치 확인 isnull -> null이 아니면 false null이면 True
print(df['Age'].isnull())

In [ ]:
# Series 생성
data = pd.Series([10, 20, 20, 30, 40])

# sum(), mean(), value_counts() 사용 예시
print("Sum:", data.sum())           # 합계
print("Mean:", data.mean())         # 평균
print("Value Counts:\n", data.value_counts())  # 빈도 계산

In [ ]:
import pandas as pd

# Series 생성
data = pd.Series([10, 15, 20, 25, 30])

# 다양한 메서드 활용
print("Minimum:", data.min())          # 최소값
print("Maximum:", data.max())          # 최대값
print("Standard Deviation:", data.std())  # 표준편차
print("Variance:", data.var())          # 분산
print("Number of Unique Values:", data.nunique())  # 고유값 개수

# 데이터프레임 요약
df = pd.DataFrame({
    'Age': [25, 30, 35, 40, 45],
    'Salary': [50000, 55000, 60000, 65000, 70000]
})
print("\nDataFrame Summary:\n", df.describe())

In [ ]:
print("\nDataFrame Info:")
df.info()

In [ ]:
stars_series = test['housing_median_age']

In [ ]:
# 실습!
test = pd.read_csv("/content/california_housing_train.csv")
test
# 데이터프레임의 'housing_median_age' 열을 Series로 변환하고 숫자형으로 변환
test_series = test['housing_median_age']

In [ ]:
test_times_two = test_series * 2
print('Stars Times Two:\n', test_times_two.head())

In [ ]:
high_age = test_series > 17.0
print("High age:\n", high_age.head())

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})

# 열 이름 변경
df = df.rename(columns={'A': 'X', 'B': 'Y', 'C': 'Z'})
print(df)

In [ ]:
# 모든 열 이름 변경
df.columns = ['X', 'Y', 'Z']
print(df)

In [ ]:
# 이건 많이 사용하지 않음
# concat / join -> 데이터 결합

df['Salary'] = [50000, 60000, 70000] # 다른 데이터 프레임에서 가져오는 경우!
print(df)

In [ ]:
# drop(중요)
# Data 컬럼 천개! ->
#1. ram 효율을 증대하기 위해서 import할 때만 전체 -> 작업 필요한 변수
# 'Age' 열 삭제

df = df.drop('Age', axis=1)
print(df)

In [ ]:
# 어떨 때 사용할까요?
# 2023년 1월 ~ 2024년 1월 ->
# Sample DataFrames with different index
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]}, index=[0, 1])
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]}, index=[2, 3])

# 세로로 연결 (행 방향) - 인덱스 다름
result = pd.concat([df1, df2], ignore_index=True)

print(result)

In [ ]:
import pandas as pd
dataset = pd.read_csv('/content/The-Big-List-20231127-Reviews-to-4650.csv', encoding='latin1')

In [ ]:
dataset.head()

In [ ]:
print(dataset['Brand'].value_counts())

In [ ]:
# 고유값 확인 -> 중복되지 않는 값!
dataset.nunique()

In [ ]:
import pandas as pd
dataset = pd.read_csv('/content/sample_data/The-Big-List-20231127-Reviews-to-4650.csv', encoding='latin1')